.light {
  background-color: #fff !important;
  .layout-page .logo-box .right p,
  .layout-page .menu-box .el-menu-item:not(.is-active),
  .not-found-page .show-text p {
    color: #181818;
  }
  .not-found-page .show-text p:last-child {
    background-color: #000000ba;
    text-shadow: 0 0 8px #dadada;
    color: #ffffff;
    &:hover {
      background-color: #49494942;
      color: #000000;
      text-shadow: 0 0 8px #000000;
    }
  }
}
