.left-img {
  width: 45vw;
  height: calc(100vh - 100px);
  position: relative;
  .left1 {
    width: 4vw;
    height: 120%;
    position: absolute;
    top: -16px;
    left: 0;
    background-color: #146bdf;
  }
  .left2 {
    width: 25px;
    height: 120%;
    position: absolute;
    top: -8px;
    left: 4vw;
    background-color: #12315d;
    transform: skewY(30deg);
  }
  .left3 {
    width: calc(41vw - 100px);
    height: 100%;
    position: absolute;
    top: 0px;
    left: calc(4vw + 25px);
    background-color: #0d1a2d;
  }
  .title {
    font-family: 'cusTitle2';
    font-size: 110px;
    position: absolute;
    transform-origin: 0% 0%;
    // transform: skewY(30deg);
    transform: rotate(270deg) skewX(-6deg) scale(1, 0.8);
    letter-spacing: -0.4rem;
    bottom: -60px;
    left: 2vw;
  }
}
