.footer-com {
  width: 96vw;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.38);
  box-shadow: 0px -20px 20px 0px rgba(255, 255, 255, 0.01);
  position: fixed;
  bottom: 0;
  left: 4vw;
}
